<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>香烟</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>芙蓉王</string>
				<key>introduce</key>
				<string>湖南中烟局</string>
				<key>price</key>
				<string>￥35</string>
			</dict>
			<dict>
				<key>name</key>
				<string>白沙</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥5</string>
			</dict>
			<dict>
				<key>name</key>
				<string>金白沙</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥10</string>
			</dict>
			<dict>
				<key>name</key>
				<string>精品二代</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥15</string>
			</dict>
			<dict>
				<key>name</key>
				<string>商品名称</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥52</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>零食</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>卫龙</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥0.5</string>
			</dict>
			<dict>
				<key>name</key>
				<string>圣女果</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥6</string>
			</dict>
			<dict>
				<key>name</key>
				<string>核桃</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥28</string>
			</dict>
			<dict>
				<key>name</key>
				<string>商品名称</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥52</string>
			</dict>
			<dict>
				<key>name</key>
				<string>商品名称</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥52</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>调味料</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>商品名称</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥52</string>
			</dict>
			<dict>
				<key>name</key>
				<string>商品名称</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥52</string>
			</dict>
			<dict>
				<key>name</key>
				<string>商品名称</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥52</string>
			</dict>
			<dict>
				<key>name</key>
				<string>商品名称</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥52</string>
			</dict>
			<dict>
				<key>name</key>
				<string>商品名称</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥52</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>洗衣类</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>立白</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥52</string>
			</dict>
			<dict>
				<key>name</key>
				<string>商品名称</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥52</string>
			</dict>
			<dict>
				<key>name</key>
				<string>商品名称</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥52</string>
			</dict>
			<dict>
				<key>name</key>
				<string>商品名称</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥52</string>
			</dict>
			<dict>
				<key>name</key>
				<string>商品名称</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥52</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>饮料</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>哇哈哈</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>营养快线</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥5</string>
			</dict>
			<dict>
				<key>name</key>
				<string>商品名称</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥52</string>
			</dict>
			<dict>
				<key>name</key>
				<string>商品名称</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥52</string>
			</dict>
			<dict>
				<key>name</key>
				<string>商品名称</string>
				<key>introduce</key>
				<string>商品规格/介绍</string>
				<key>price</key>
				<string>￥52</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
